/*
* @Autor: cmunozm
* @Área: Webmain
* @Empresa: Webmain
* @URL: 
* @version: 1.1
**/

@charset 'utf-8';

/*
 * @librarys vendors
 * Bootstrap, aos, animate, ion-icons, font-awesome, themify icons.
 **/

//@import 'vendors/getbootstrap/bootstrap.scss';
//@import 'vendors/aos/aos.scss';
//@import 'vendors/animate/animate-scss.scss';
//@import 'vendors/ionicons/docs/css/ionicons';
//@import 'vendors/font-awesome-4.7.0/scss/font-awesome.scss';
//@import 'vendors/themify-icons/themify-icons.scss';

/*
 * @Compenentes personalizados
 *
 * */
@import 'base/normalize';
@import 'helpers/mixins';
@import 'base/colores';
@import 'helpers/helps';
@import 'base/fonts-google';
@import 'base/modal';
@import 'helpers/whidth';
@import 'components/spinner';
@import 'components/btn';
@import 'components/titles';
@import 'components/video';
@import 'components/owl';
@import 'components/alertas';
@import 'components/accordeon';
@import 'helpers/spaces';
//@import 'base/floating-label';
//@import 'base/font-web';
//@import 'layout/estructura';

/*
 * @css Generales
 **/

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    @include border-box;

}

/*
 * Generales
 **/
body {
    margin: 0;
    padding: 0;
}

a {
    color: #106eea;
    transition: all .5s ease-in-out;
    text-decoration: underline;
}

a:hover,
a:active,
a:focus {
    color: #3b8af2;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

#main {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}



/*
 * @css inicio proyecto
 * Adjuntar archivos scss del proyecto customizado
 **/




/*
 * @css media querys
*/

//@import 'helps_querys';
//@import 'querys';