{
  "name": "project-scss",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style-scss/main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"css/main.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "style-scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style-scss/main.scss",
      "imports": [
        "style-scss/vendors/getbootstrap/bootstrap.scss",
        "style-scss/vendors/aos/aos.scss",
        "style-scss/vendors/animate/animate-scss.scss",
        "style-scss/vendors/ionicons/docs/css/_ionicons.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/font-awesome.scss",
        "style-scss/vendors/themify-icons/themify-icons.scss",
        "style-scss/base/_normalize.scss",
        "style-scss/base/_colores.scss",
        "style-scss/helpers/_mixins.scss",
        "style-scss/helpers/_helps.scss",
        "style-scss/base/_fonts-google.scss",
        "style-scss/base/_modal.scss",
        "style-scss/helpers/_whidth.scss",
        "style-scss/components/_spinner.scss",
        "style-scss/components/_custom-botones.scss",
        "style-scss/components/_btn.scss",
        "style-scss/components/_zoom-shadow-transicion.scss",
        "style-scss/components/_titles.scss",
        "style-scss/components/_video.scss",
        "style-scss/components/_owl.scss",
        "style-scss/components/_alertas.scss",
        "style-scss/components/_accordeon.scss",
        "style-scss/base/_floating-label.scss",
        "style-scss/base/_font-web.scss",
        "style-scss/vendors/getbootstrap/_functions.scss",
        "style-scss/vendors/getbootstrap/_variables.scss",
        "style-scss/vendors/getbootstrap/_mixins.scss",
        "style-scss/vendors/getbootstrap/_root.scss",
        "style-scss/vendors/getbootstrap/_reboot.scss",
        "style-scss/vendors/getbootstrap/_type.scss",
        "style-scss/vendors/getbootstrap/_images.scss",
        "style-scss/vendors/getbootstrap/_code.scss",
        "style-scss/vendors/getbootstrap/_grid.scss",
        "style-scss/vendors/getbootstrap/_tables.scss",
        "style-scss/vendors/getbootstrap/_forms.scss",
        "style-scss/vendors/getbootstrap/_buttons.scss",
        "style-scss/vendors/getbootstrap/_transitions.scss",
        "style-scss/vendors/getbootstrap/_dropdown.scss",
        "style-scss/vendors/getbootstrap/_button-group.scss",
        "style-scss/vendors/getbootstrap/_input-group.scss",
        "style-scss/vendors/getbootstrap/_custom-forms.scss",
        "style-scss/vendors/getbootstrap/_nav.scss",
        "style-scss/vendors/getbootstrap/_navbar.scss",
        "style-scss/vendors/getbootstrap/_card.scss",
        "style-scss/vendors/getbootstrap/_breadcrumb.scss",
        "style-scss/vendors/getbootstrap/_pagination.scss",
        "style-scss/vendors/getbootstrap/_badge.scss",
        "style-scss/vendors/getbootstrap/_jumbotron.scss",
        "style-scss/vendors/getbootstrap/_alert.scss",
        "style-scss/vendors/getbootstrap/_progress.scss",
        "style-scss/vendors/getbootstrap/_media.scss",
        "style-scss/vendors/getbootstrap/_list-group.scss",
        "style-scss/vendors/getbootstrap/_close.scss",
        "style-scss/vendors/getbootstrap/_toasts.scss",
        "style-scss/vendors/getbootstrap/_modal.scss",
        "style-scss/vendors/getbootstrap/_tooltip.scss",
        "style-scss/vendors/getbootstrap/_popover.scss",
        "style-scss/vendors/getbootstrap/_carousel.scss",
        "style-scss/vendors/getbootstrap/_spinners.scss",
        "style-scss/vendors/getbootstrap/_utilities.scss",
        "style-scss/vendors/getbootstrap/_print.scss",
        "style-scss/vendors/aos/_core.scss",
        "style-scss/vendors/aos/_easing.scss",
        "style-scss/vendors/aos/_animations.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_variables.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_mixins.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_path.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_core.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_larger.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_fixed-width.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_list.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_animated.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_stacked.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_icons.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_screen-reader.scss",
        "style-scss/vendors/getbootstrap/vendor/_rfs.scss",
        "style-scss/vendors/getbootstrap/mixins/_deprecate.scss",
        "style-scss/vendors/getbootstrap/mixins/_breakpoints.scss",
        "style-scss/vendors/getbootstrap/mixins/_hover.scss",
        "style-scss/vendors/getbootstrap/mixins/_image.scss",
        "style-scss/vendors/getbootstrap/mixins/_badge.scss",
        "style-scss/vendors/getbootstrap/mixins/_resize.scss",
        "style-scss/vendors/getbootstrap/mixins/_screen-reader.scss",
        "style-scss/vendors/getbootstrap/mixins/_size.scss",
        "style-scss/vendors/getbootstrap/mixins/_reset-text.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-emphasis.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-hide.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-truncate.scss",
        "style-scss/vendors/getbootstrap/mixins/_visibility.scss",
        "style-scss/vendors/getbootstrap/mixins/_alert.scss",
        "style-scss/vendors/getbootstrap/mixins/_buttons.scss",
        "style-scss/vendors/getbootstrap/mixins/_caret.scss",
        "style-scss/vendors/getbootstrap/mixins/_pagination.scss",
        "style-scss/vendors/getbootstrap/mixins/_lists.scss",
        "style-scss/vendors/getbootstrap/mixins/_list-group.scss",
        "style-scss/vendors/getbootstrap/mixins/_nav-divider.scss",
        "style-scss/vendors/getbootstrap/mixins/_forms.scss",
        "style-scss/vendors/getbootstrap/mixins/_table-row.scss",
        "style-scss/vendors/getbootstrap/mixins/_background-variant.scss",
        "style-scss/vendors/getbootstrap/mixins/_border-radius.scss",
        "style-scss/vendors/getbootstrap/mixins/_box-shadow.scss",
        "style-scss/vendors/getbootstrap/mixins/_gradients.scss",
        "style-scss/vendors/getbootstrap/mixins/_transition.scss",
        "style-scss/vendors/getbootstrap/mixins/_clearfix.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid-framework.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid.scss",
        "style-scss/vendors/getbootstrap/mixins/_float.scss",
        "style-scss/vendors/getbootstrap/utilities/_align.scss",
        "style-scss/vendors/getbootstrap/utilities/_background.scss",
        "style-scss/vendors/getbootstrap/utilities/_borders.scss",
        "style-scss/vendors/getbootstrap/utilities/_clearfix.scss",
        "style-scss/vendors/getbootstrap/utilities/_display.scss",
        "style-scss/vendors/getbootstrap/utilities/_embed.scss",
        "style-scss/vendors/getbootstrap/utilities/_flex.scss",
        "style-scss/vendors/getbootstrap/utilities/_float.scss",
        "style-scss/vendors/getbootstrap/utilities/_interactions.scss",
        "style-scss/vendors/getbootstrap/utilities/_overflow.scss",
        "style-scss/vendors/getbootstrap/utilities/_position.scss",
        "style-scss/vendors/getbootstrap/utilities/_screenreaders.scss",
        "style-scss/vendors/getbootstrap/utilities/_shadows.scss",
        "style-scss/vendors/getbootstrap/utilities/_sizing.scss",
        "style-scss/vendors/getbootstrap/utilities/_spacing.scss",
        "style-scss/vendors/getbootstrap/utilities/_stretched-link.scss",
        "style-scss/vendors/getbootstrap/utilities/_text.scss",
        "style-scss/vendors/getbootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "style-scss/flujo/flujo.scss",
      "imports": [
        "style-scss/base/_normalize.scss",
        "style-scss/base/_colores.scss",
        "style-scss/helpers/_mixins.scss",
        "style-scss/base/_fonts-google.scss",
        "style-scss/base/_icons.scss",
        "style-scss/base/_modal.scss",
        "style-scss/helpers/_helps.scss",
        "style-scss/components/_alertas.scss",
        "style-scss/components/_spinner.scss",
        "style-scss/components/_zoom-shadow-transicion.scss",
        "style-scss/flujo/_inputs-forms.scss",
        "style-scss/components/_titles.scss",
        "style-scss/base/_floating-label.scss",
        "style-scss/flujo/_header.scss",
        "style-scss/flujo/_formulario-chubbsaesa.scss",
        "style-scss/layout/_callToAction.scss",
        "style-scss/flujo/_felicitaciones.scss",
        "style-scss/flujo/_fracaso.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/animate.scss",
      "imports": [
        "style-scss/vendors/animate/_properties.scss",
        "style-scss/vendors/animate/_attention-seekers/attention-seekers.scss",
        "style-scss/vendors/animate/_bouncing-entrances/bouncing-entrances.scss",
        "style-scss/vendors/animate/_bouncing-exits/bouncing-exits.scss",
        "style-scss/vendors/animate/_fading-entrances/fading-entrances.scss",
        "style-scss/vendors/animate/_fading-exits/fading-exits.scss",
        "style-scss/vendors/animate/_flippers/flippers.scss",
        "style-scss/vendors/animate/_lightspeed/lightspeed.scss",
        "style-scss/vendors/animate/_rotating-entrances/rotating-entrances.scss",
        "style-scss/vendors/animate/_rotating-exits/rotating-exits.scss",
        "style-scss/vendors/animate/_sliding-entrances/sliding-entrances.scss",
        "style-scss/vendors/animate/_sliding-exits/sliding-exits.scss",
        "style-scss/vendors/animate/_specials/specials.scss",
        "style-scss/vendors/animate/_zooming-entrances/zooming-entrances.scss",
        "style-scss/vendors/animate/_zooming-exits/zooming-exits.scss",
        "style-scss/vendors/animate/_attention-seekers/_bounce.scss",
        "style-scss/vendors/animate/_attention-seekers/_flash.scss",
        "style-scss/vendors/animate/_attention-seekers/_jello.scss",
        "style-scss/vendors/animate/_attention-seekers/_pulse.scss",
        "style-scss/vendors/animate/_attention-seekers/_rubberBand.scss",
        "style-scss/vendors/animate/_attention-seekers/_shake.scss",
        "style-scss/vendors/animate/_attention-seekers/_swing.scss",
        "style-scss/vendors/animate/_attention-seekers/_tada.scss",
        "style-scss/vendors/animate/_attention-seekers/_wobble.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceIn.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInDown.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInLeft.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInRight.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInUp.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOut.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutDown.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutLeft.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutRight.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutUp.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeIn.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInDown.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInDownBig.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInLeft.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInLeftBig.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInRight.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInRightBig.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInUp.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInUpBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOut.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutDown.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutDownBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutLeft.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutLeftBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutRight.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutRightBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutUp.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutUpBig.scss",
        "style-scss/vendors/animate/_flippers/_flip.scss",
        "style-scss/vendors/animate/_flippers/_flipInX.scss",
        "style-scss/vendors/animate/_flippers/_flipInY.scss",
        "style-scss/vendors/animate/_flippers/_flipOutX.scss",
        "style-scss/vendors/animate/_flippers/_flipOutY.scss",
        "style-scss/vendors/animate/_lightspeed/_lightSpeedIn.scss",
        "style-scss/vendors/animate/_lightspeed/_lightSpeedOut.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateIn.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInDownLeft.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInDownRight.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInUpLeft.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInUpRight.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOut.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutDownLeft.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutDownRight.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutUpLeft.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutUpRight.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInDown.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInLeft.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInRight.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInUp.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutDown.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutLeft.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutRight.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutUp.scss",
        "style-scss/vendors/animate/_specials/_hinge.scss",
        "style-scss/vendors/animate/_specials/_rollIn.scss",
        "style-scss/vendors/animate/_specials/_rollOut.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomIn.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInDown.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInLeft.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInRight.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInUp.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOut.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutDown.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutLeft.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutRight.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/aos/aos.scss",
      "imports": [
        "style-scss/vendors/aos/_core.scss",
        "style-scss/vendors/aos/_easing.scss",
        "style-scss/vendors/aos/_animations.scss"
      ]
    },
    {
      "path": "style-scss/vendors/getbootstrap/bootstrap-grid.scss",
      "imports": [
        "style-scss/vendors/getbootstrap/_functions.scss",
        "style-scss/vendors/getbootstrap/_variables.scss",
        "style-scss/vendors/getbootstrap/mixins/_breakpoints.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid-framework.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid.scss",
        "style-scss/vendors/getbootstrap/_grid.scss",
        "style-scss/vendors/getbootstrap/utilities/_display.scss",
        "style-scss/vendors/getbootstrap/utilities/_flex.scss",
        "style-scss/vendors/getbootstrap/utilities/_spacing.scss"
      ]
    },
    {
      "path": "style-scss/vendors/getbootstrap/bootstrap-reboot.scss",
      "imports": [
        "style-scss/vendors/getbootstrap/_functions.scss",
        "style-scss/vendors/getbootstrap/_variables.scss",
        "style-scss/vendors/getbootstrap/_mixins.scss",
        "style-scss/vendors/getbootstrap/_reboot.scss",
        "style-scss/vendors/getbootstrap/vendor/_rfs.scss",
        "style-scss/vendors/getbootstrap/mixins/_deprecate.scss",
        "style-scss/vendors/getbootstrap/mixins/_breakpoints.scss",
        "style-scss/vendors/getbootstrap/mixins/_hover.scss",
        "style-scss/vendors/getbootstrap/mixins/_image.scss",
        "style-scss/vendors/getbootstrap/mixins/_badge.scss",
        "style-scss/vendors/getbootstrap/mixins/_resize.scss",
        "style-scss/vendors/getbootstrap/mixins/_screen-reader.scss",
        "style-scss/vendors/getbootstrap/mixins/_size.scss",
        "style-scss/vendors/getbootstrap/mixins/_reset-text.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-emphasis.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-hide.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-truncate.scss",
        "style-scss/vendors/getbootstrap/mixins/_visibility.scss",
        "style-scss/vendors/getbootstrap/mixins/_alert.scss",
        "style-scss/vendors/getbootstrap/mixins/_buttons.scss",
        "style-scss/vendors/getbootstrap/mixins/_caret.scss",
        "style-scss/vendors/getbootstrap/mixins/_pagination.scss",
        "style-scss/vendors/getbootstrap/mixins/_lists.scss",
        "style-scss/vendors/getbootstrap/mixins/_list-group.scss",
        "style-scss/vendors/getbootstrap/mixins/_nav-divider.scss",
        "style-scss/vendors/getbootstrap/mixins/_forms.scss",
        "style-scss/vendors/getbootstrap/mixins/_table-row.scss",
        "style-scss/vendors/getbootstrap/mixins/_background-variant.scss",
        "style-scss/vendors/getbootstrap/mixins/_border-radius.scss",
        "style-scss/vendors/getbootstrap/mixins/_box-shadow.scss",
        "style-scss/vendors/getbootstrap/mixins/_gradients.scss",
        "style-scss/vendors/getbootstrap/mixins/_transition.scss",
        "style-scss/vendors/getbootstrap/mixins/_clearfix.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid-framework.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid.scss",
        "style-scss/vendors/getbootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "style-scss/vendors/getbootstrap/bootstrap.scss",
      "imports": [
        "style-scss/vendors/getbootstrap/_functions.scss",
        "style-scss/vendors/getbootstrap/_variables.scss",
        "style-scss/vendors/getbootstrap/_mixins.scss",
        "style-scss/vendors/getbootstrap/_root.scss",
        "style-scss/vendors/getbootstrap/_reboot.scss",
        "style-scss/vendors/getbootstrap/_type.scss",
        "style-scss/vendors/getbootstrap/_images.scss",
        "style-scss/vendors/getbootstrap/_code.scss",
        "style-scss/vendors/getbootstrap/_grid.scss",
        "style-scss/vendors/getbootstrap/_tables.scss",
        "style-scss/vendors/getbootstrap/_forms.scss",
        "style-scss/vendors/getbootstrap/_buttons.scss",
        "style-scss/vendors/getbootstrap/_transitions.scss",
        "style-scss/vendors/getbootstrap/_dropdown.scss",
        "style-scss/vendors/getbootstrap/_button-group.scss",
        "style-scss/vendors/getbootstrap/_input-group.scss",
        "style-scss/vendors/getbootstrap/_custom-forms.scss",
        "style-scss/vendors/getbootstrap/_nav.scss",
        "style-scss/vendors/getbootstrap/_navbar.scss",
        "style-scss/vendors/getbootstrap/_card.scss",
        "style-scss/vendors/getbootstrap/_breadcrumb.scss",
        "style-scss/vendors/getbootstrap/_pagination.scss",
        "style-scss/vendors/getbootstrap/_badge.scss",
        "style-scss/vendors/getbootstrap/_jumbotron.scss",
        "style-scss/vendors/getbootstrap/_alert.scss",
        "style-scss/vendors/getbootstrap/_progress.scss",
        "style-scss/vendors/getbootstrap/_media.scss",
        "style-scss/vendors/getbootstrap/_list-group.scss",
        "style-scss/vendors/getbootstrap/_close.scss",
        "style-scss/vendors/getbootstrap/_toasts.scss",
        "style-scss/vendors/getbootstrap/_modal.scss",
        "style-scss/vendors/getbootstrap/_tooltip.scss",
        "style-scss/vendors/getbootstrap/_popover.scss",
        "style-scss/vendors/getbootstrap/_carousel.scss",
        "style-scss/vendors/getbootstrap/_spinners.scss",
        "style-scss/vendors/getbootstrap/_utilities.scss",
        "style-scss/vendors/getbootstrap/_print.scss",
        "style-scss/vendors/getbootstrap/vendor/_rfs.scss",
        "style-scss/vendors/getbootstrap/mixins/_deprecate.scss",
        "style-scss/vendors/getbootstrap/mixins/_breakpoints.scss",
        "style-scss/vendors/getbootstrap/mixins/_hover.scss",
        "style-scss/vendors/getbootstrap/mixins/_image.scss",
        "style-scss/vendors/getbootstrap/mixins/_badge.scss",
        "style-scss/vendors/getbootstrap/mixins/_resize.scss",
        "style-scss/vendors/getbootstrap/mixins/_screen-reader.scss",
        "style-scss/vendors/getbootstrap/mixins/_size.scss",
        "style-scss/vendors/getbootstrap/mixins/_reset-text.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-emphasis.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-hide.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-truncate.scss",
        "style-scss/vendors/getbootstrap/mixins/_visibility.scss",
        "style-scss/vendors/getbootstrap/mixins/_alert.scss",
        "style-scss/vendors/getbootstrap/mixins/_buttons.scss",
        "style-scss/vendors/getbootstrap/mixins/_caret.scss",
        "style-scss/vendors/getbootstrap/mixins/_pagination.scss",
        "style-scss/vendors/getbootstrap/mixins/_lists.scss",
        "style-scss/vendors/getbootstrap/mixins/_list-group.scss",
        "style-scss/vendors/getbootstrap/mixins/_nav-divider.scss",
        "style-scss/vendors/getbootstrap/mixins/_forms.scss",
        "style-scss/vendors/getbootstrap/mixins/_table-row.scss",
        "style-scss/vendors/getbootstrap/mixins/_background-variant.scss",
        "style-scss/vendors/getbootstrap/mixins/_border-radius.scss",
        "style-scss/vendors/getbootstrap/mixins/_box-shadow.scss",
        "style-scss/vendors/getbootstrap/mixins/_gradients.scss",
        "style-scss/vendors/getbootstrap/mixins/_transition.scss",
        "style-scss/vendors/getbootstrap/mixins/_clearfix.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid-framework.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid.scss",
        "style-scss/vendors/getbootstrap/mixins/_float.scss",
        "style-scss/vendors/getbootstrap/utilities/_align.scss",
        "style-scss/vendors/getbootstrap/utilities/_background.scss",
        "style-scss/vendors/getbootstrap/utilities/_borders.scss",
        "style-scss/vendors/getbootstrap/utilities/_clearfix.scss",
        "style-scss/vendors/getbootstrap/utilities/_display.scss",
        "style-scss/vendors/getbootstrap/utilities/_embed.scss",
        "style-scss/vendors/getbootstrap/utilities/_flex.scss",
        "style-scss/vendors/getbootstrap/utilities/_float.scss",
        "style-scss/vendors/getbootstrap/utilities/_interactions.scss",
        "style-scss/vendors/getbootstrap/utilities/_overflow.scss",
        "style-scss/vendors/getbootstrap/utilities/_position.scss",
        "style-scss/vendors/getbootstrap/utilities/_screenreaders.scss",
        "style-scss/vendors/getbootstrap/utilities/_shadows.scss",
        "style-scss/vendors/getbootstrap/utilities/_sizing.scss",
        "style-scss/vendors/getbootstrap/utilities/_spacing.scss",
        "style-scss/vendors/getbootstrap/utilities/_stretched-link.scss",
        "style-scss/vendors/getbootstrap/utilities/_text.scss",
        "style-scss/vendors/getbootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "style-scss/vendors/getbootstrap/_mixins.scss",
      "imports": [
        "style-scss/vendors/getbootstrap/vendor/_rfs.scss",
        "style-scss/vendors/getbootstrap/mixins/_deprecate.scss",
        "style-scss/vendors/getbootstrap/mixins/_breakpoints.scss",
        "style-scss/vendors/getbootstrap/mixins/_hover.scss",
        "style-scss/vendors/getbootstrap/mixins/_image.scss",
        "style-scss/vendors/getbootstrap/mixins/_badge.scss",
        "style-scss/vendors/getbootstrap/mixins/_resize.scss",
        "style-scss/vendors/getbootstrap/mixins/_screen-reader.scss",
        "style-scss/vendors/getbootstrap/mixins/_size.scss",
        "style-scss/vendors/getbootstrap/mixins/_reset-text.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-emphasis.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-hide.scss",
        "style-scss/vendors/getbootstrap/mixins/_text-truncate.scss",
        "style-scss/vendors/getbootstrap/mixins/_visibility.scss",
        "style-scss/vendors/getbootstrap/mixins/_alert.scss",
        "style-scss/vendors/getbootstrap/mixins/_buttons.scss",
        "style-scss/vendors/getbootstrap/mixins/_caret.scss",
        "style-scss/vendors/getbootstrap/mixins/_pagination.scss",
        "style-scss/vendors/getbootstrap/mixins/_lists.scss",
        "style-scss/vendors/getbootstrap/mixins/_list-group.scss",
        "style-scss/vendors/getbootstrap/mixins/_nav-divider.scss",
        "style-scss/vendors/getbootstrap/mixins/_forms.scss",
        "style-scss/vendors/getbootstrap/mixins/_table-row.scss",
        "style-scss/vendors/getbootstrap/mixins/_background-variant.scss",
        "style-scss/vendors/getbootstrap/mixins/_border-radius.scss",
        "style-scss/vendors/getbootstrap/mixins/_box-shadow.scss",
        "style-scss/vendors/getbootstrap/mixins/_gradients.scss",
        "style-scss/vendors/getbootstrap/mixins/_transition.scss",
        "style-scss/vendors/getbootstrap/mixins/_clearfix.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid-framework.scss",
        "style-scss/vendors/getbootstrap/mixins/_grid.scss",
        "style-scss/vendors/getbootstrap/mixins/_float.scss"
      ]
    },
    {
      "path": "style-scss/vendors/getbootstrap/_utilities.scss",
      "imports": [
        "style-scss/vendors/getbootstrap/utilities/_align.scss",
        "style-scss/vendors/getbootstrap/utilities/_background.scss",
        "style-scss/vendors/getbootstrap/utilities/_borders.scss",
        "style-scss/vendors/getbootstrap/utilities/_clearfix.scss",
        "style-scss/vendors/getbootstrap/utilities/_display.scss",
        "style-scss/vendors/getbootstrap/utilities/_embed.scss",
        "style-scss/vendors/getbootstrap/utilities/_flex.scss",
        "style-scss/vendors/getbootstrap/utilities/_float.scss",
        "style-scss/vendors/getbootstrap/utilities/_interactions.scss",
        "style-scss/vendors/getbootstrap/utilities/_overflow.scss",
        "style-scss/vendors/getbootstrap/utilities/_position.scss",
        "style-scss/vendors/getbootstrap/utilities/_screenreaders.scss",
        "style-scss/vendors/getbootstrap/utilities/_shadows.scss",
        "style-scss/vendors/getbootstrap/utilities/_sizing.scss",
        "style-scss/vendors/getbootstrap/utilities/_spacing.scss",
        "style-scss/vendors/getbootstrap/utilities/_stretched-link.scss",
        "style-scss/vendors/getbootstrap/utilities/_text.scss",
        "style-scss/vendors/getbootstrap/utilities/_visibility.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_attention-seekers/attention-seekers.scss",
      "imports": [
        "style-scss/vendors/animate/_attention-seekers/_bounce.scss",
        "style-scss/vendors/animate/_attention-seekers/_flash.scss",
        "style-scss/vendors/animate/_attention-seekers/_jello.scss",
        "style-scss/vendors/animate/_attention-seekers/_pulse.scss",
        "style-scss/vendors/animate/_attention-seekers/_rubberBand.scss",
        "style-scss/vendors/animate/_attention-seekers/_shake.scss",
        "style-scss/vendors/animate/_attention-seekers/_swing.scss",
        "style-scss/vendors/animate/_attention-seekers/_tada.scss",
        "style-scss/vendors/animate/_attention-seekers/_wobble.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_bouncing-entrances/bouncing-entrances.scss",
      "imports": [
        "style-scss/vendors/animate/_bouncing-entrances/_bounceIn.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInDown.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInLeft.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInRight.scss",
        "style-scss/vendors/animate/_bouncing-entrances/_bounceInUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_bouncing-exits/bouncing-exits.scss",
      "imports": [
        "style-scss/vendors/animate/_bouncing-exits/_bounceOut.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutDown.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutLeft.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutRight.scss",
        "style-scss/vendors/animate/_bouncing-exits/_bounceOutUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_fading-entrances/fading-entrances.scss",
      "imports": [
        "style-scss/vendors/animate/_fading-entrances/_fadeIn.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInDown.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInDownBig.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInLeft.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInLeftBig.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInRight.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInRightBig.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInUp.scss",
        "style-scss/vendors/animate/_fading-entrances/_fadeInUpBig.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_fading-exits/fading-exits.scss",
      "imports": [
        "style-scss/vendors/animate/_fading-exits/_fadeOut.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutDown.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutDownBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutLeft.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutLeftBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutRight.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutRightBig.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutUp.scss",
        "style-scss/vendors/animate/_fading-exits/_fadeOutUpBig.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_flippers/flippers.scss",
      "imports": [
        "style-scss/vendors/animate/_flippers/_flip.scss",
        "style-scss/vendors/animate/_flippers/_flipInX.scss",
        "style-scss/vendors/animate/_flippers/_flipInY.scss",
        "style-scss/vendors/animate/_flippers/_flipOutX.scss",
        "style-scss/vendors/animate/_flippers/_flipOutY.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_lightspeed/lightspeed.scss",
      "imports": [
        "style-scss/vendors/animate/_lightspeed/_lightSpeedIn.scss",
        "style-scss/vendors/animate/_lightspeed/_lightSpeedOut.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_rotating-entrances/rotating-entrances.scss",
      "imports": [
        "style-scss/vendors/animate/_rotating-entrances/_rotateIn.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInDownLeft.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInDownRight.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInUpLeft.scss",
        "style-scss/vendors/animate/_rotating-entrances/_rotateInUpRight.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_rotating-exits/rotating-exits.scss",
      "imports": [
        "style-scss/vendors/animate/_rotating-exits/_rotateOut.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutDownLeft.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutDownRight.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutUpLeft.scss",
        "style-scss/vendors/animate/_rotating-exits/_rotateOutUpRight.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_sliding-entrances/sliding-entrances.scss",
      "imports": [
        "style-scss/vendors/animate/_sliding-entrances/_slideInDown.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInLeft.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInRight.scss",
        "style-scss/vendors/animate/_sliding-entrances/_slideInUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_sliding-exits/sliding-exits.scss",
      "imports": [
        "style-scss/vendors/animate/_sliding-exits/_slideOutDown.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutLeft.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutRight.scss",
        "style-scss/vendors/animate/_sliding-exits/_slideOutUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_specials/specials.scss",
      "imports": [
        "style-scss/vendors/animate/_specials/_hinge.scss",
        "style-scss/vendors/animate/_specials/_rollIn.scss",
        "style-scss/vendors/animate/_specials/_rollOut.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_zooming-entrances/zooming-entrances.scss",
      "imports": [
        "style-scss/vendors/animate/_zooming-entrances/_zoomIn.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInDown.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInLeft.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInRight.scss",
        "style-scss/vendors/animate/_zooming-entrances/_zoomInUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/animate/_zooming-exits/zooming-exits.scss",
      "imports": [
        "style-scss/vendors/animate/_zooming-exits/_zoomOut.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutDown.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutLeft.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutRight.scss",
        "style-scss/vendors/animate/_zooming-exits/_zoomOutUp.scss"
      ]
    },
    {
      "path": "style-scss/vendors/font-awesome-4.7.0/less/font-awesome.less",
      "imports": [
        "style-scss/vendors/font-awesome-4.7.0/less/variables.less",
        "style-scss/vendors/font-awesome-4.7.0/less/mixins.less",
        "style-scss/vendors/font-awesome-4.7.0/less/path.less",
        "style-scss/vendors/font-awesome-4.7.0/less/core.less",
        "style-scss/vendors/font-awesome-4.7.0/less/larger.less",
        "style-scss/vendors/font-awesome-4.7.0/less/fixed-width.less",
        "style-scss/vendors/font-awesome-4.7.0/less/list.less",
        "style-scss/vendors/font-awesome-4.7.0/less/bordered-pulled.less",
        "style-scss/vendors/font-awesome-4.7.0/less/animated.less",
        "style-scss/vendors/font-awesome-4.7.0/less/rotated-flipped.less",
        "style-scss/vendors/font-awesome-4.7.0/less/stacked.less",
        "style-scss/vendors/font-awesome-4.7.0/less/icons.less",
        "style-scss/vendors/font-awesome-4.7.0/less/screen-reader.less"
      ]
    },
    {
      "path": "style-scss/vendors/font-awesome-4.7.0/scss/font-awesome.scss",
      "imports": [
        "style-scss/vendors/font-awesome-4.7.0/scss/_variables.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_mixins.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_path.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_core.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_larger.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_fixed-width.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_list.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_bordered-pulled.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_animated.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_rotated-flipped.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_stacked.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_icons.scss",
        "style-scss/vendors/font-awesome-4.7.0/scss/_screen-reader.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7902,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}