/*
 * @custom colors redes sociales
 **/

$facebook: rgb(59, 89, 152);
$twitter: rgb(85, 172, 238);
$linkedin: rgb(0, 123, 181);
$google-mas: rgb(221, 75, 57);
$youtube: rgb(187, 0, 0);
$whatsapp: rgb(77, 194, 71);

/*
 * @helps colors
 **/
.background-1 {
    background: rgba(11, 55, 86, 1);
    background: -moz-linear-gradient(45deg, rgba(11, 55, 86, 1) 0%, rgba(15, 120, 168, 1) 51%, rgba(25, 165, 230, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(11, 55, 86, 1)), color-stop(51%, rgba(15, 120, 168, 1)), color-stop(100%, rgba(25, 165, 230, 1)));
    background: -webkit-linear-gradient(45deg, rgba(11, 55, 86, 1) 0%, rgba(15, 120, 168, 1) 51%, rgba(25, 165, 230, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(11, 55, 86, 1) 0%, rgba(15, 120, 168, 1) 51%, rgba(25, 165, 230, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(11, 55, 86, 1) 0%, rgba(15, 120, 168, 1) 51%, rgba(25, 165, 230, 1) 100%);
    background: linear-gradient(45deg, rgba(11, 55, 86, 1) 0%, rgba(15, 120, 168, 1) 51%, rgba(25, 165, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0b3756', endColorstr='#19a5e6', GradientType=1);
}

.background-2 {
    background: #161e2c;
    margin: 0;
    padding: 15px 0;
}

.intro {
    height: auto;
    width: 100%;
    margin: 0;
    position: relative;
    z-index: 0;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    &::before {
        content: '';
        background: linear-gradient(to right, #ffffff 0, #ffdd00 35%, #ffffff 100%);
        opacity: .2;
        position: absolute;
        padding: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 200;
    } 
     &::after {
        content: '';
        position: absolute;
        bottom: -160px;
        left: -50px;
        height: 250px;
        width: 130%;
        background-color: #fff;
        -webkit-transform: rotate(-4deg);
        -ms-transform: rotate(-4deg);
        transform: rotate(-4deg);
        z-index: 200;
    } 
}

 /*
 * @variables alertas
 **/

    $ok: #3c763d;
    $bg_ok: #dff0d8;
    $border_ok: #d6e9c6;
    $link_ok: #2b542c;

    $info: #31708f;
    $bg_info: #d9edf7;
    $border_info: #bce8f1;
    $link_info: #245269;

    $warning: #8a6d3b;
    $bg_warning: #fcf8e3;
    $border_warning: #faebcc;
    $link_warning: #66512c;

    $danger: #a94442;
    $bg_danger: #f2dede;
    $border_danger: #ebccd1;
    $link_danger: #843534;

 /*
 * @custom colors alert
 *
 **/

    $color_info: #00cae3;
    $color_info_light: #e1f5fe;
    $color_info_dark: #004085;

    $color_success: #55b559;
    $color_success_light: #d4edda;
    $color_succes_dark: #155724;

    $color_warning: #ff9e0f;
    $color_warning_light: #fff3cd;
    $color_warning_dark: #856404;

    $color_warning-2: #ff5722;
    $color_warning-2_light: #ffe5dc;
    $color_warning-2_dark: #982400;

    $color_danger: #f55145;
    $color_danger_light: #f8d7da;
    $color_danger_dark: #721c24;

    $color_dark: #2a3f5a;
    $color_light: #e5eaef;


    $red: #d51000;
    $cyan: #d51000;
    $success: #55b559; // $success-dark: #398439;
    $danger: #f55145; // $danger-darck: #ac2925;
    $info: #00cae3; // $info-darck: #46b8da;
    $warning: #ff9e0f; // $warning-dark: #985f0d;

    $hover-success: #28a745; // $success-dark: #398439;#1e7e34
    $hover-danger: #dc3545; // $danger-darck: #ac2925;
    $hover-info: #17a2b8; // $info-darck: #46b8da;
    $hover-warning: #ffc107; // $warning-dark: #985f0d;

    $border-hover-success: #28a745; // $success-dark: #398439;
    $border-hover-danger: #dc3545; // $danger-darck: #ac2925;
    $border-hover-info: #17a2b8; // $info-darck: #46b8da;
    $border-hover-warning: #ffc107; // $warning-dark: #985f0d;

/*
 * @custom color proyect
 **/